body {
    width: 1440px;
    text-align: center;
    font-family: 'Red Hat Display', sans-serif;
    background-image: url(pattern-background-desktop.svg);
    background-repeat: no-repeat;
    background-color: hsl(225, 100%, 94%);
}
.price {
    /* display: inline-block; */
    text-align: left;
}
main {
    background-color: white;
    width: 450px;
    margin: 0 auto;
    border-radius: 10px;
}
.header-photo {
    width: 450px;
    border-radius: 10px 10px 0 0;
}
h1 {
    color: hsl(223, 47%, 23%);
    font-size: 26px;
    font-weight: 900;
    margin-top: 40px;
}
.intro {
    width: 285px;
    margin: 0 auto;
    font-size: 16px;
    line-height: 25px;
    color: hsl(224, 23%, 55%);
    margin-bottom: 20px;
}
.subscription {
    background-color: hsl(225, 100%, 98%);
    width: 370px;
    margin: 0 auto;
    border-radius: 10px;
    /*text-align: left;
    display: grid;
    grid-template-columns: 85px 100px 1fr;
    justify-content: center;
    align-content: center; */
    display: grid;
    grid-template-columns: 85px 180px 1fr;
    /* justify-content: center;
    align-content: center;
    grid-auto-flow: column; */
  
}
.note-icon {
    margin: 20px;   
}
h2 {
    color: hsl(223, 47%, 23%);
    font-size: 16px;
    font-weight: 900;
    margin-bottom: 5px;
    margin-top: 20px;
}
.plan-price {
    color:hsl(224, 23%, 55%);
    margin: 0;
}
a {
    color: hsl(245, 75%, 52%);
    font-weight: bold;
    font-size: 14px;
    /* margin: 20px; */
    text-align: right;
    line-height: 80px;
}
a:hover {
    color: hsla(245, 75%, 52%, 0.705);
    text-decoration: none;
}
button {
    font-family: 'Red Hat Display', sans-serif;
    width: 370px;
    font-weight: 700;
    font-size: 14px;
}
.proceed {
    background-color: hsl(245, 75%, 52%);
    color: white;
    height: 50px;
    margin-top: 10px;
    margin-bottom: 30px;
    border: none;
    border-radius: 10px;
    box-shadow: 0 10px 10px 10px hsl(225, 100%, 95%);
}
.proceed:hover {
    background-color: hsla(245, 75%, 52%, 0.705);
    cursor: pointer;
}
.cancel {
    background-color: white;
    color: hsl(224, 23%, 55%);
    border: none;
    border-radius: 10px;
    margin-bottom: 50px;
}
.cancel:hover {
    color: hsl(223, 47%, 23%);
    cursor: pointer;
}